<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
        </li>
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-person-workspace"></i> <span class="ms-1 d-none d-sm-inline">Redes Sociales</span> </a>
            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100 d-sm-inline">
                    <div style="display: flex"><i class="fs-4 bi bi-facebook"></i> <a href="https://www.facebook.com/maxi92/" class="nav-link px-0" target="_blank">  <span class="d-none d-sm-inline">&nbsp; Facebook</span></a></div> 
                </li>
                <li>
                    <div style="display: flex"><i class="fs-4 bi bi-instagram"></i> <a href="https://www.instagram.com/maximilianoavellaneda/?hl=es" class="nav-link px-0" target="_blank">  <span class="d-none d-sm-inline">&nbsp; Instagram</span></a></div> 
                </li>
                <li>
                    <div style="display: flex"><i class="fs-4 bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/gustavo-maximiliano-avellaneda-782b11127/" class="nav-link px-0" target="_blank">  <span class="d-none d-sm-inline">&nbsp; Linkedin</span></a></div> 
                </li>
                <li>
                    <div style="display: flex"><i class="fs-4 bi bi-tiktok"></i> <a href="https://www.tiktok.com/@maximilianogustavoavell0" class="nav-link px-0">  <span class="d-none d-sm-inline" target="_blank">&nbsp; TikTok</span></a></div> 
                </li>
            </ul>
        </li>
        <li>
            <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="nav-link px-0 align-middle" target="_blank">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
        </li>
       

    </ul>
</div>